<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="layui/css/layui.css" />
<style type="text/css">
.gg {
	display: flex;
	line-height: 25px;
}

.gg li {
	margin-left: 5px;
}
</style>
</head>

<body>
	<div class="layuui-container">
		<div class="layui-row">
			<div class="layui-col-md8 layui-col-xs8">
				<div>
					<div class="layui-carousel" id="test1" style="margin: 10px;">
						<div carousel-item>
							<div>
								<img src="img/img_2.png" />
							</div>
							<div>
								<img src="img/img_1.png" />
							</div>
							<div>
								<img src="img/img_4.png" />
							</div>
							<div>
								<img src="img/img_3.png" />
							</div>
						</div>
					</div>
					<div class="layui-tab"
						style="border: 1px solid #B2B2B2; margin-top: 15px; margin-left: 10px; width: 866px;">
						<ul class="layui-tab-title">
							<li class="layui-this" value="1" id="xt">系统公告</li>
							<li value="2" id="zx">最新公告</li>
							<li value="3" id="hd">活动公告</li>
						</ul>
						<div class="layui-tab-content" id="vmCnt">
							<div class="layui-tab-item layui-show">
								<ul v-for="(obj,index) in room">
									<a href="javascript:void(0)" class="gg">
										<li v-text="obj.id" style="display: none;" name="id"></li>
										<li v-text="obj.title"></li>
									</a>
								</ul>
							</div>
							<div class="layui-tab-item">
								<ul v-for="(obj,index) in room">
									<a href="javascript:void(0)" class="gg">
										<li v-text="obj.id" style="display: none;" name="id"></li>
										<li v-text="obj.title"></li>
									</a>
								</ul>
							</div>
							<div class="layui-tab-item">
								<ul v-for="(obj,index) in room">
									<a href="javascript:void(0)" class="gg">
										<li v-text="obj.id" style="display: none;" name="id"></li>
										<li v-text="obj.title"></li>
									</a>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md4 layui-col-xs4">
				<div style="margin-left: 25px; margin-top: 10px;">
					<div>
						<div class="panel"
							style="width: 300px; border: solid #B2B2B2 1px;">
							<div class="panel-header" style="width: 300px;">
								<div class="laydate-time"
									style="background-color: gainsboro; border: solid dodgerblue 1px; color: red;">个人资料</div>
							</div>
							<div>
								<div class="layui-carousel">
									<div class="layui-row">
										<div class="layui-col-md8 layui-col-xs8"
											style="margin: 5px; border: solid black 1px; width: 140px; height: 140px;">
											<img src="img/二维码.png"
												style="width: 130px; height: 130px; margin: 5px;" />
										</div>
										<div class="layui-col-md4 layui-col-xs4">
											<p style="padding: 12px; font-size: 12px;">
												姓名：<span id="name">未登录</span>
											</p>
											<p style="padding: 12px; font-size: 12px;">
												性别：<span id="sex">未登录</span>
											</p>
											<p style="padding: 12px; font-size: 12px;">
												职务：<span id="post">未登录</span>
											</p>
										</div>
									</div>
									<div
										style="padding-top: 20px; padding-left: 10px; height: 70px;">
										<a href="userInfo.html" id="update_data"
											style="padding-left: 10px;"> <span
											class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm">
												<i class="layui-icon layui-icon-edit"></i> <span>修改资料</span>
										</span>
										</a> <a href="javascript:void(0)" id="safe_exit"
											style="padding-left: 50px;"> <span
											class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm">
												<i class="layui-icon layui-icon-close"></i> <span>安全退出</span>
										</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					style="margin-left: 25px; margin-top: 10px; border: solid #B2B2B2 1px; width: 300px;">
					<div style="border: solid #B2B2B2 1px;">
						<div class=" laydate-time "
							style="background-color: gainsboro; border: solid dodgerblue 1px; color: red;">合资推广</div>
					</div>
					<div
						style="margin-left: 40px; padding-top: 10px; padding-bottom: 15px;">
						<img src="img/二维码.png" style="width: 215px; height: 155px;" />
					</div>
				</div>
			</div>
		</div>
		<div id="messages">
			<div
				style="border: 1px solid black; width: 250px; height: 100px; margin-left: 940px; display: none;"
				id="xx">
				<div style="background: #AFB1BE;">
					<span style="color: white;">提示</span><span
						style="margin-left: 205px; width: 22px; font-size: 20px; color: white;"><a
						href="javascript:void(0)" id="colse">×</a></span>
				</div>
				<div style="color: red; font-size: 12px; padding: 25px;">
					<a href="javascript:void(0)" style="color: red;"
						id="examineMessage"></a>
				</div>
			</div>
		</div>
	</div>
</body>
<script type=" text/javascript " src="layui/layui.all.js "></script>
<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script>
	layui.use('carousel', function() {
		var carousel = layui.carousel;
		//建造实例
		carousel.render({
			elem : '#test1',
			width : '100%', //设置容器宽度
			arrow : 'always' //始终显示箭头
		//,anim: 'updown' //切换动画方式
		});
	});
	var vm = new Vue({
		el : "#vmCnt",
		data : {
			room : []
		}
	});

	//安全退出
	$("#safe_exit").click(function() {
		if (window.parent.window != window) {
			window.top.location.href = 'login.html';
		}
	});
	$(function() {
		//获取登录人对象
		var user = JSON.parse(sessionStorage.getItem("user"));
		//渲染登录人信息
		if (user) {
			var userId = user.id;
			$("#name").text(user.name);
			$("#sex").text(user.sex);
			$("#post").text(user.role.name);
			$.getJSON("http://127.0.0.1:8080/course/api/messages/message/"
					+ userId, function(json) {
				$("#messages").slideUp(2000, function() {
					$("#messages").css("display", "block");
					$("#xx").css("display", "block");
					$("#examineMessage").text(json.content)
				});
			});
		}
		//点击提示框的叉叉退出
		$("#colse").click(function() {
			$("#messages").fadeOut(2500, function() {
				$("#messages").remove();
			});
		});
		//点击提示内容改变状态(代表以及查看过(下次不会显示))
		$("#examineMessage").click(function() {
			var userId = user.id;
			var message = {};
			message["userId"] = userId;
			$.ajax("http://127.0.0.1:8080/course/api/messages/re", {
				"type" : "put",
				"dataType" : "json",
				"timeout" : 4000,
				"data" : JSON.stringify(message),
				"contentType" : "application/json",
				"success" : function(json) {
					if (json.code == 200) {
						//淡出提示框延迟1秒
						$("#messages").fadeOut(1000, function() {
							//跳转页面，查询提示信息
							location.href = "gg.html";
						});
					}
				}
			});
		});
		/*查看公告详情
		 */
		$(document).on("click", ".gg", function() {
			var noticeId = $(this).children().eq(0).text();
			window.sessionStorage.setItem("noticeId", noticeId);
			layer.open({
				type : 2,
				title : '公告详情',
				maxmin : true,
				shadeClose : true, //点击遮罩关闭层
				area : [ '750px', '400px' ],
				content : 'noticeDetail.html'
			});

		});

		//公告初始化
		var typeId = $("#xt").val();
		$.getJSON("http://127.0.0.1:8080/course/api/notices/notice/" + typeId,
				function(json) {
					vm.room = json;
				});
		//点击系统公告
		$("#xt").click(
				function() {
					var typeId = $(this).val();
					$.getJSON(
							"http://127.0.0.1:8080/course/api/notices/notice/"
									+ typeId, function(json) {
								vm.room = json;

							});
				});
		//点击最新公告
		$("#zx").click(
				function() {
					var typeId = $(this).val();
					$.getJSON(
							"http://127.0.0.1:8080/course/api/notices/notice/"
									+ typeId, function(json) {
								vm.room = json;

							});
				});
		//点击活动公告
		$("#hd").click(
				function() {
					var typeId = $(this).val();
					$.getJSON(
							"http://127.0.0.1:8080/course/api/notices/notice/"
									+ typeId, function(json) {
								vm.room = json;

							});
				});
	});
</script>

</html>